@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #25282c;
}

body {
  background-color: #25282c;
  position: relative;
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: "Bebas Neue", sans-serif;
}

p, a {
  font-family: "Open Sans", sans-serif;
  color: #E3E1CF;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.unselectable {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#scrollTopButton {
  display: none;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  width: 40px;
  padding: 5px;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #113479;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

#scrollTopButton.show {
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
}

header {
  background-color: #E3E1CF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__list {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 996px) {
  .navbar__list {
    flex-direction: row;
    gap: 20px;
  }
}

nav {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translateY(-100%);
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #DEA633;
  gap: 50px;
}
nav a {
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  color: #E3E1CF;
}
nav a:hover {
  color: #38A5AC;
}
@media only screen and (min-width: 996px) {
  nav a {
    font-size: 30px;
    color: #25282c;
  }
}
@media only screen and (min-width: 996px) {
  nav {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
    opacity: 1;
    visibility: visible;
    color: #25282c;
    transform: translateY(0%);
    background-color: transparent;
    transition: 0s;
    justify-content: flex-end;
  }
}

nav.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.btn__menu--abrir {
  cursor: pointer;
  background-color: #25282c;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  margin: 20px;
  transition: 0.3s;
}
.btn__menu--abrir:focus, .btn__menu--abrir:active {
  transform: scale(90%);
}
@media only screen and (min-width: 996px) {
  .btn__menu--abrir {
    display: none;
  }
}

.btn__menu--cerrar {
  cursor: pointer;
  background-color: #38A5AC;
  width: 70px;
  height: 70px;
  padding: 5px;
  border-radius: 50%;
  margin-top: 50px;
  transition: 0.3s;
}
.btn__menu--cerrar:focus, .btn__menu--cerrar:active {
  transform: scale(90%);
}
@media only screen and (min-width: 996px) {
  .btn__menu--cerrar {
    display: none;
  }
}

.nav__container {
  display: flex;
  width: 100%;
  max-width: 1240px;
  align-items: center;
  justify-content: space-between;
}

.brand__container {
  display: flex;
  align-items: center;
  width: 340px;
  gap: 10px;
  margin: 20px;
  margin-right: -65px;
}
.brand__container h1 {
  font-size: 50px;
}

.logo__container {
  width: 60px;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: clamp(400px, 50vw, 110vh);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #25282c), url(../src/assets/images/hero.jpg);
  background-position: center;
  background-size: cover;
}
.hero__container::before {
  content: "";
  background-image: linear-gradient(to bottom, rgba(241, 17, 17, 0), #25282c);
  position: absolute;
  height: 50px;
  bottom: 0;
  width: 100%;
}
.hero__container p {
  position: absolute;
  top: 32%;
  left: 10%;
  font-size: clamp(24px, 3vw, 60px);
}
@media only screen and (max-width: 830px) {
  .hero__container p {
    top: 64%;
  }
}

#discografia {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgb(56, 165, 172);
  background: linear-gradient(90deg, #38A5AC 0%, #38A5AC 44%, #DEA633 44%, #DEA633 100%);
}

.discografía__container {
  max-width: 1200px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.discografía__container a {
  align-self: flex-start;
  margin-left: 40px;
}
@media only screen and (max-width: 830px) {
  .discografía__container a {
    align-self: center;
  }
}
.discografía__container h2 {
  color: #25282c;
  align-self: flex-end;
  font-size: clamp(50px, 10vw, 75px);
  text-decoration: underline 6px solid #38A5AC;
}
@media only screen and (max-width: 830px) {
  .discografía__container h2 {
    align-self: flex-start;
  }
}
.discografía__container .discografia__main {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
}
.discografía__container .discografia__main p {
  font-size: clamp(25px, 3vw, 35px);
  color: #25282c;
  font-family: "Bebas Neue", sans-serif;
}
.discografía__container iframe {
  aspect-ratio: 3/4;
  width: 100%;
  box-shadow: 0px 3px 20px #113479;
  border-radius: 25px;
}

.list__container {
  width: 40%;
  margin-left: auto;
}
@media only screen and (max-width: 830px) {
  .list__container {
    width: 100%;
  }
}

.list__img {
  border: 10px solid #E3E1CF;
  width: clamp(16rem, 40vw, 450px);
  position: relative;
  transform: rotate(8deg);
  overflow: hidden;
  background: linear-gradient(90deg, #DEA633 0%, #DEA633 44%, #38A5AC 44%, #38A5AC 100%);
  margin-left: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
@media only screen and (max-width: 830px) {
  .list__img {
    display: none;
  }
}
.list__img img {
  transform: rotate(-12deg) scale(1.1) translate(-17px, 36px);
}

.discografia__boton {
  position: relative;
  border: 0;
  padding: 1em 2em;
  font-weight: 700;
  cursor: pointer;
  outline: 0.5em solid #DEA633;
  outline-offset: -0.3em;
  color: #E3E1CF;
  background-color: #38A5AC;
  text-transform: uppercase;
}
@media only screen and (max-width: 830px) {
  .discografia__boton {
    align-self: center;
  }
}
.discografia__boton:hover {
  animation: shake 900ms infinite, glitch2 700ms infinite steps(4);
}
@keyframes shake {
  25% {
    transform: translate(-0.1em, -0.1em);
  }
  50% {
    transform: translate(0.3em, 0);
  }
  75% {
    transform: translate(0, 0.3em);
  }
}
@keyframes glitch2 {
  from {
    box-shadow: 0.8em 0.8em #25282c, -0.8em -0.8em #E3E1CF;
  }
  to {
    text-shadow: 0.3em 0.2em #25282c, -0.3em -0.2em #E3E1CF;
  }
}

.redes__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #DEA633;
  background-position: center;
  background-color: #DEA633;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='200' id='a' d='M0-478l-413.96 717h827.92L0-478l-413.96 717h827.92z'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2338A5AC' href='%23a' transform='rotate(-80 0 0) scale(0.2)'/%3E%3Cuse stroke='%232ca1ab' href='%23a' transform='rotate(-70 0 0) scale(0.3)'/%3E%3Cuse stroke='%231e9caa' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%230798aa' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%230094a9' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%23008fa8' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23008ba7' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%230086a6' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%230082a5' href='%23a' transform=''/%3E%3Cuse stroke='%23007da4' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%230078a2' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%230074a1' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23006f9f' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23006a9d' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%2300669b' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23006199' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23005c96' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23005794' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23005291' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23004e8d' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%2300498a' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23004486' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23003e82' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%2302397e' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23113479' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.redes__banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  padding: 10px;
  height: clamp(125px, 15vw, 250px);
  max-width: 1240px;
  background-color: rgba(227, 225, 207, 0.6588235294);
  border-radius: 15px;
}
.redes__banner p {
  font-size: clamp(25px, 3vw, 35px);
  font-family: "Bebas Neue", sans-serif;
  color: #25282c;
}

.redes__img--container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
}

.redes__img {
  width: clamp(50px, 6vw, 80px);
  position: relative;
  transition: 0.5s;
}
.redes__img:hover {
  transform: translateY(-15px);
}
.redes__img:hover .color {
  opacity: 1;
  visibility: visible;
}
.redes__img:hover .black {
  opacity: 0;
  visibility: hidden;
}

.color {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.black {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.5s;
}

#videos {
  background-color: #25282c;
  margin: 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#videos h2 {
  color: #E3E1CF;
  align-self: flex-start;
  font-size: clamp(50px, 10vw, 75px);
  text-decoration: underline 6px solid #DEA633;
}

.videos__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;
  align-items: center;
  grid-template-areas: "video1 video1 video1" "video2 video3 video4";
}
@media only screen and (max-width: 1024px) {
  .videos__container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "video1 video1" "video2 video3" "video4 video4";
  }
}
@media only screen and (max-width: 665px) {
  .videos__container {
    grid-template-columns: 1fr;
    grid-template-areas: "video1" "video2" "video3" "video4";
  }
}
.videos__container div {
  aspect-ratio: 16/9;
}
.videos__container iframe {
  width: 100%;
  height: 100%;
}
.videos__container .video1 {
  grid-area: video1;
}
.videos__container .video2 {
  grid-area: video2;
}
.videos__container .video3 {
  grid-area: video3;
}
.videos__container .video4 {
  grid-area: video4;
}

.videos__section {
  display: flex;
  width: 1200px;
  max-width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.videos__section a {
  align-self: flex-end;
}
@media only screen and (max-width: 830px) {
  .videos__section a {
    align-self: center;
  }
}

.videos__boton {
  position: relative;
  border: 0;
  padding: 1em 2em;
  font-weight: 700;
  cursor: pointer;
  outline: 0.5em solid #E3E1CF;
  outline-offset: -0.3em;
  color: #E3E1CF;
  background-color: #25282c;
  text-transform: uppercase;
}
.videos__boton:hover {
  animation: shake 900ms infinite, glitch 700ms infinite steps(4);
}
@keyframes shake {
  25% {
    transform: translate(-0.1em, -0.1em);
  }
  50% {
    transform: translate(0.3em, 0);
  }
  75% {
    transform: translate(0, 0.3em);
  }
}
@keyframes glitch {
  from {
    box-shadow: 0.8em 0.8em #DEA633, -0.8em -0.8em #38A5AC;
  }
  to {
    text-shadow: 0.3em 0.2em #DEA633, -0.3em -0.2em #38A5AC;
  }
}

.biografia__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #25282c;
  background: rgb(227, 225, 207);
  background: linear-gradient(140deg, rgb(227, 225, 207) 0%, rgb(159, 158, 148) 5%, rgb(113, 114, 109) 10%, rgb(78, 79, 79) 16%, rgb(58, 60, 62) 21%, rgb(37, 40, 44) 28%);
}
@media only screen and (max-width: 830px) {
  .biografia__section {
    padding: 0;
  }
}

.biografia__container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.biografia__container h2 {
  color: #E3E1CF;
  align-self: flex-start;
  font-size: clamp(50px, 10vw, 75px);
  text-decoration: underline 6px solid #38A5AC;
}

.biografia__main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media only screen and (max-width: 996px) {
  .biografia__main {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
.biografia__main .biografia__texto {
  width: 60%;
  margin-top: 30px;
}
@media only screen and (max-width: 996px) {
  .biografia__main .biografia__texto {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
  }
}
.biografia__main .biografia__texto p {
  font-size: clamp(15px, 1.4vw, 22px);
}
.biografia__main .biografia__img {
  width: clamp(350px, 50vw, 650px);
  filter: grayscale(1);
  align-self: center;
  display: block;
  position: relative;
}
.biografia__main .biografia__img::before {
  content: "";
  background-image: linear-gradient(to left, #25282c, rgba(37, 40, 44, 0));
  position: absolute;
  height: 100%;
  right: 0;
  width: 90%;
}
.biografia__main .biografia__img::after {
  content: "";
  background-image: linear-gradient(to bottom, rgba(241, 17, 17, 0), #25282c);
  position: absolute;
  height: 69px;
  bottom: 0;
  right: 0;
  width: 77%;
}

#notas {
  background-color: #E3E1CF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 0px;
  background-color: #e3e1cf;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2325282c' fill-opacity='0.31' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.notas__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
}
.notas__container h2 {
  color: #25282c;
  align-self: flex-end;
  font-size: clamp(50px, 10vw, 75px);
  text-decoration: underline 6px solid #DEA633;
}
@media only screen and (max-width: 830px) {
  .notas__container h2 {
    align-self: flex-start;
  }
}

.notas__main {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
}
.notas__main div:nth-child(1), .notas__main div:nth-child(4) {
  justify-self: flex-start;
}
.notas__main div:nth-child(3), .notas__main div:nth-child(6) {
  justify-self: flex-end;
}
@media only screen and (max-width: 1024px) {
  .notas__main {
    grid-template-columns: 1fr 1fr;
  }
  .notas__main div:nth-child(1), .notas__main div:nth-child(3), .notas__main div:nth-child(5) {
    justify-self: flex-start;
  }
  .notas__main div:nth-child(2), .notas__main div:nth-child(4) {
    justify-self: flex-end;
  }
}
@media only screen and (max-width: 730px) {
  .notas__main {
    grid-template-columns: 1fr;
  }
  .notas__main div:nth-child(1), .notas__main div:nth-child(2), .notas__main div:nth-child(3), .notas__main div:nth-child(4), .notas__main div:nth-child(5), .notas__main div:nth-child(6) {
    justify-self: center;
  }
}

.notas__card {
  aspect-ratio: 3/4;
  width: 80%;
  border-radius: 1rem;
  background: #25282c;
  position: relative;
  display: flex;
  justify-content: center;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
}

.card--img {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.card-hover {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}
.card-hover a {
  align-self: center;
}

.notas__card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(37, 40, 44, 0.9098039216);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
  border-radius: 1rem;
}

.card--info {
  position: absolute;
  z-index: 3;
  color: #f5f5f5;
  opacity: 0;
  transform: translateY(20%);
  transition: 0.5s;
  display: flex;
  align-items: flex-end;
  bottom: 10%;
  height: 100%;
  width: 90%;
  justify-content: center;
}

.card--titulo {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  gap: 20px;
  height: 100%;
}
.card--titulo div {
  width: 20%;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 15px;
}
.card--titulo h3 {
  color: #E3E1CF;
  font-size: clamp(16px, 1.5vw, 24px);
  text-align: center;
}
@media only screen and (max-width: 730px) {
  .card--titulo h3 {
    font-size: clamp(16px, 4vw, 36px);
  }
}

.notas__card:hover {
  transform: translateY(2%);
}

.notas__card:hover:before {
  opacity: 1;
}

.notas__card:hover .card--info {
  opacity: 1;
  transform: translateY(0);
}

.card__boton {
  position: relative;
  border: 0;
  padding: 1em 2em;
  font-weight: 700;
  cursor: pointer;
  outline: 0.5em solid #E3E1CF;
  outline-offset: -0.3em;
  color: #E3E1CF;
  background-color: #25282c;
  text-transform: uppercase;
}
.card__boton:hover {
  animation: shake 900ms infinite, glitch 700ms infinite steps(4);
}/*# sourceMappingURL=styles.css.map */