*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color_oscuro;
}

body{
    background-color: $color_oscuro;
    position: relative;
}

img{
    width: 100%;
}

h1,h2,h3,h4{
    font-family: $fuente_principal;
}

p,a{
    font-family: $fuente_secundaria;
    color: $color_claro;
}

li{
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.unselectable {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#scrollTopButton {
    display: none;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    width: 40px;
    padding: 5px;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color_acentuacion;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#scrollTopButton.show {
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
}


