.hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: clamp(400px, 50vw, 110vh);
    background-image: linear-gradient(to bottom, rgb(255 255 255 / 0%), #25282c), url(../src/assets/images/hero.jpg);
    background-position: center;
    background-size: cover;

    &::before{
        content: "";
        background-image: linear-gradient(to bottom, rgb(241 17 17 / 0%), #25282c);
        position: absolute;
        height: 50px;
        bottom: 0;
        width: 100%;
    }


    p{
        position: absolute;
        top: 32%;
        left: 11%;
        font-size: clamp(12px, 3vw, 60px)
    }
}
