.redes__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: $color_secundario;
    background-position: center;
    background-color: #DEA633;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='200' id='a' d='M0-478l-413.96 717h827.92L0-478l-413.96 717h827.92z'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2338A5AC' href='%23a' transform='rotate(-80 0 0) scale(0.2)'/%3E%3Cuse stroke='%232ca1ab' href='%23a' transform='rotate(-70 0 0) scale(0.3)'/%3E%3Cuse stroke='%231e9caa' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%230798aa' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%230094a9' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%23008fa8' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23008ba7' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%230086a6' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%230082a5' href='%23a' transform=''/%3E%3Cuse stroke='%23007da4' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%230078a2' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%230074a1' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23006f9f' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23006a9d' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%2300669b' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23006199' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23005c96' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23005794' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23005291' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23004e8d' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%2300498a' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23004486' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23003e82' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%2302397e' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23113479' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.redes__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    padding: 10px;
    height: clamp(125px, 15vw, 250px);
    max-width: 1240px;
    background-color: #e3e1cfa8;
    border-radius: 15px;

    @media only screen and (max-width: 830px) {
        width: 80%;
    }


    p{
        font-size: clamp(25px, 3vw, 35px);
        font-family: $fuente_principal;
        color: $color_oscuro;
    }
}

.redes__img--container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}

.redes__img{
    width: clamp(50px, 6vw, 80px);
    position: relative;
    transition: .5s;

    &:hover{
        transform: translateY(-15px);

        .color{
            opacity: 1;
            visibility: visible;
        }

        .black{
            opacity: 0;
            visibility: hidden;
        }
    }
}

.color{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.black{
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
}