$color_principal: #3cb4fc;
$color_secundario: #fbbc05;
$color_oscuro: #25282c;
$color_claro: #cfdde3;
$color_acentuacion: #113479;

$fuente_principal: 'Bebas Neue', sans-serif;
$fuente_secundaria: 'Open Sans', sans-serif;
