$color_principal: #76CCFF;
$color_secundario: #FFE632;
$color_oscuro: #25282c;
$color_claro: #E3E1CF;
$color_acentuacion: #113479;

$fuente_principal: 'Bebas Neue', sans-serif;
$fuente_secundaria: 'Open Sans', sans-serif;


// $color_principal: #3cb4fc;
// $color_secundario: #fbbc05;
// $color_oscuro: #25282c;
// $color_claro: #cfdde3;
// $color_acentuacion: #113479;