$color_principal: #38A5AC;
$color_secundario: #DEA633;
$color_oscuro: #25282c;
$color_claro: #E3E1CF;
$color_acentuacion: #113479;

$fuente_principal: 'Bebas Neue', sans-serif;
$fuente_secundaria: 'Open Sans', sans-serif;