#videos{
    background-color: $color_oscuro;
    margin: 150px 0px;
    display: flex;
    justify-content: center;
}


.videos__container {
    height: 500px;
    width: 1200px;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "video1 video1"
        "video2 video3"
        "video4 video5";

        iframe{
            width: 100%;
        }

        .video1{ 
            grid-area: video1;
        }
        .video2{
            grid-area: video2;
        }
        .video3{ 
            grid-area: video3; 
        }
        .video4{ 
            grid-area: video4; 
        }
        .video5{ 
            grid-area: video5; 
        }
    } 